BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clock" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "reset" IO_TYPE=LVCMOS33 ;
IOBUF PORT "tx" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "rx" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clock" SITE "A7" ;
LOCATE COMP "reset" SITE "N3" ;
LOCATE COMP "rx" SITE "E1" ;
LOCATE COMP "tx" SITE "E2" ;



